body{
    /* background: url(banner-indonesia-merdeka-indonesia-jaya-01.jpg) no-repeat; */
  background-position:center;
  background-size: 60%;
  min-height: 100vh;


}
ul{
list-style-type:none;
padding:20px;
overflow:hidden;
background-color:rgb(97, 87, 84);
display: flex;
justify-content: flex-end;


}


video{
    width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  margin-bottom: auto;
  position:sticky;
 
}


li {
    align-items: center;
    padding:5px 15px;;
    }

    span li{
        right:20px;
    }

li a, .about-btn{
    font-size: medium;
    font-family:' Robboto' sans-serif;
    font-weight: 100px;
    display:inline block;
    color: rgb(255, 255, 255);
    text-align:right;
    padding:5px 15px;
    text-decoration: none;
    left:150px;
    justify-content: space-between;

}

  
li a:hover, .about:hover .about-btn:hover {
    background-color: rgb(227, 227, 227);
    text-decoration: none;
    color: black;
    transition: s;
}

li .about{
    display: inline-block;
}

.about-content{
   display:none;
    position:absolute;
    background-color: rgb(224, 101, 101);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.about-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
.about-content a:hover{
    background-color: rgb(255, 255, 255);
    text-decoration:none;
    transition: 0.2s;

}

.about:hover .about-content{
    display:block;
}

.logo{
    background: linear-gradient(#fb0404, #fdfdfd);  
}

.bg-color-c{
    
    background: linear-gradient(#c3ca9f, #fdfdfd);


}